:root {
    --item-size: 9em;
}

.group-title {
    min-height: var(--item-size);
}

.item-bank {
    min-height: 8em;
}

.item {
    min-height: var(--item-size);
    max-width: var(--item-size);
    min-width: var(--item-size);
}

img {
    max-height: 150px;
}

.group-title-text {
    font-size: large;
}

.group-title-text, .item-text {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: .25rem;
}