{% extends "base.html" %}

{% block content %}
<h1>Hello</h1>

<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#config-group">Configure
    Groups</button>
<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#config-attrs">Configure
    Attributes</button>
<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#config-items">Configure
    Items</button>
<br>

<div class="all">
</div>

<div id="config-group" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Configure Groups</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea class="form-control" id="config-group-text" rows="7"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="configGroups()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div id="config-attrs" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Configure Attributes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="config-attrs-table" class="table">
                    <tr>
                        <th class="text-center">Attribute</th>
                        <th class="text-center">Default</th>
                    </tr>
                </table>
                <button type="button" class="btn btn-outline-primary" onclick="addAttrTable()">Add Attribute</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="configAttrs()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div id="config-items" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Configure Items</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="config-item-alert-placeholder"></div>
                <table id="config-items-table" class="table">
                </table>
                <button type="button" class="btn btn-outline-primary" onclick="addItemTable()">Add Item</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="configItems()">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}