{% extends "base.html" %}

{% block content %}
<h1>Hello</h1>

<div class="d-flex flex-row">
    <div class="d-flex title t0 p-2 border justify-content-center align-items-center">
        <h1>Yang</h1>
    </div>
    <div class="list flex-grow-1 flex-row border"></div>
</div>
<div class="d-flex flex-row">
    <div class="d-flex title t0 p-2 border justify-content-center align-items-center">
        <h1>Song</h1>
    </div>
    <div class="list flex-grow-1 flex-row border"></div>
</div>
<div class="d-flex flex-row">
    <div class="d-flex title t0 p-2 border justify-content-center align-items-center">
        <h1>Simon</h1>
    </div>
    <div class="list flex-grow-1 flex-row border"></div>
</div>
<div class="d-flex flex-row">
    <div class="d-flex title t0 p-2 border justify-content-center align-items-center">
        <h1>Loach</h1>
    </div>
    <div class="list flex-grow-1 flex-row border"></div>
</div>
<div class="bank d-flex flex-row">
    <div id="item1" class="item d-flex p-2 border justify-content-center align-items-center">
        <h2>Pak</h2>
    </div>
    <div id="item2" class="item d-flex p-2 border justify-content-center align-items-center">
        <h2>Evins</h2>
    </div>
    <div id="item3" class="item d-flex p-2 border justify-content-center align-items-center">
        <h2>Mueller</h2>
    </div>
</div>
{% endblock %}