{% extends "base.html" %}

{% block content %}
<h1>Hello</h1>

<div class="all">
    <div class="group">
        <div class="group-title">
            <div class="group-title-name">Yang</div>
        </div>
        <div class="group-items"></div>
    </div>
    <div class="group">
        <div class="group-title">
            <div class="group-title-name">Song</div>
        </div>
        <div class="group-items"></div>
    </div>
    <div class="group">
        <div class="group-title">
            <div class="group-title-name">Simon</div>
        </div>
        <div class="group-items"></div>
    </div>
    <div class="group">
        <div class="group-title">
            <div class="group-title-name">Loach</div>
        </div>
        <div class="group-items"></div>
    </div>
    <br>
    <div class="item-bank">
        <div id="item1" class="item">
            <div class="item-text">Pak</div>
        </div>
        <div id="item2" class="item">
            <div class="item-text">Evins</div>
        </div>
        <div id="item3" class="item">
            <div class="item-text">Mueller</div>
        </div>
    </div>
</div>
{% endblock %}